body {
    margin: auto;
    background-color: blue;
    font-family: "EB Garamond";

}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;

}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: auto;

}


.content-section_theme_dark {
    background-color: black;
    color: white;

}

.content-section_theme_bright {
    background-color: yellow;
    color: black;

}

.header {
    padding: 24px 20px;
    height: 132px;
    display: flex;
    justify-content: space-around;
    column-gap: 168px;
    width: 360px;


}

.header_logo-image {
    width: 78px;
    align-self: start;

}

.header_menu-list {
    list-style: none;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 19.2px;
    font-family: "Inter";
}


.cover {
    padding-left: 0px;
    background-image: url(../images/cover.svg);
    min-height: 221px;
    background-size: 95% auto;
    background-position: 20px 23px;
    background-repeat: no-repeat;

}

.cover_title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 7px;
    flex-shrink: 0;
    
}

.accent-span {
    font-family: "EB Garamond", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

}

.text-center {
    margin-left: 46px;


}

.text-right {
    margin-left: 154px;


}

.intro {
    padding: 0 20px;
    height: 453px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    flex-shrink: 0;

}

.intro_heading {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.intro_title {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 203px;
    flex-shrink: 0;

}

.intro_date {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro_main-text {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    width: 320px;

}

.first {
    height: 281px;
}

.reason {
    padding: 40px 20px;
    

}

.how-to {
   padding: 0;
    
}

.footer {
    padding: 20px;
    

}