body {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.326);
    font-family: "EB Garamond";

}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;

}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: auto;

}


.content-section_theme_dark {
    background-color: black;
    color: white;

}

.content-section_theme_bright {
    background-color: yellow;
    color: black;

}

.header {
    padding: 24px 20px;
    height: 139px;
    display: flex;
    justify-content: space-around;
    column-gap: 168px;
    width: 360px;

}

.header_logo-image {
    width: 78px;
    align-self: start;

}

.header_menu-list {
    list-style: none;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 19.2px;
    font-family: "Inter";
}


.cover {
    padding-left: 0px;
    background-image: url(../images/cover.svg);
    min-height: 251px;
    background-size: 95% auto;
    background-position: 20px 23px;
    background-repeat: no-repeat;

}

.cover_title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-shrink: 0;
    
}

.accent-span {
    font-family: "EB Garamond", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

}

.text-center {
    margin-left: 46px;
}

.text-right {
    margin-left: 154px;
}

.intro {
    padding: 0 20px;
    height: 491px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    flex-shrink: 0;

}

.intro_heading {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.intro_title {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 203px;
    flex-shrink: 0;

}

.intro_date {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro_main-text {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    width: 320px;

}

.first {
    height: 281px;
}

.reason {
    display: flex;
    padding: 40px 20px;
    height: 1368px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.content-section_subtitle {
    width: 320px;
    height: 63px;
    display: flex;
    flex-direction: column;
}

.accent-span-2 {
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

.text-right-2 {
    text-align: right;
}

.content-section_introduction {
    width: 320px;
    flex-shrink: 0;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.content-section_list {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

.content-section_list-item {
    flex: 1 0 0;
    width: 304px;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;

}

.content-section_list-accent {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
}

.how-to {
    display: flex;
    padding: 40px 20px 60px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    list-style: none;
}

.card {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 319px;
}

.card_autor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.card_theme_dark {
    border-radius: 30px;
    background: var(--gray-bg, #343434);
    color: white;
}

.card_theme_bright {
    border-radius: 30px;
    background: var(--yellow-bg, #fee42a);
    color: black;
}

.card_autor-photo {
    height: 100px;
    width: 100px;
    
}

.card_autor-name {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card_title {
    font-family: "EB Garamond";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.card_text {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;

}

.footer {
    padding: 20px;
    display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--yellow-bg, #fee42a);
}

.footer_copy {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.footer_links {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}